<div class="p-grid p-ai-stretch vertical-container">
  <div class="p-col-12">
    <div class="box">header</div>
</div>
<div class="p-col-12">
  <div class="box" style="height: 900px; overflow-y: scroll;">content
  


    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>
    <input type="button" value="Click Me"><br>


  </div>
</div>
<div class="p-col-12">
  <div class="box">footer</div>
</div>

  <!-- <div class="p-col">
    <div class="box box-stretched">4</div>
  </div>
  <div class="p-col">
    <div class="box box-stretched">4</div>
  </div>
  <div class="p-col">
    <div class="box box-stretched">4</div>
  </div> -->
</div>